<div class="card mt-4">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur aliquam eveniet molestias. Suscipit in
            tempore, numquam dolorum eligendi iusto ratione eaque nisi. Ex illo odit a, non officia consequuntur.
            Eveniet!</p>
    </div>
</div>