<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Node Js and MongoDB</h1>
    <p class="lead">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, sunt?
    </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit eligendi blanditiis sint illum! Error, quibusdam
        maiores dolore saepe corporis iusto sequi! Nihil laborum exercitationem omnis ipsa, mollitia ullam vel totam?
    </p>
    <a class="btn btn-primary btn-lg" href="https://www.google.es/">Fazt Web</a>
</div>